body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  height: 64px;
  display: flex;
  align-items: center;
}

.navBar {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.main {
  display: flex;
  margin: 32px 0;
}

.main-left,
.main-middle,
.main-right {
  margin: 0 32px;
}

.main-left {
  width: 15%;
}

.main-middle {
  width: 70%;
}

.main-right {
  width: 15%;
}

.about {
  padding: 16px;
}

.about-headline {
  font-style: italic;
}

.archives {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.archives-headline {
  font-style: italic;
}

.archives a {
  margin-top: 2px;
}

.main-middle {
  display: flex;
  flex-wrap: wrap;
}

.article {
  width: 45%;
  margin-left: 32px;
}

.article img {
  width: 100%;
}

.main-right {
  display: flex;
  align-items: center;
}

.login {
  height: auto;
  padding: 16px;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.login-input {
  height: 32px;
  margin-top: -1px;
  border: gray solid 1px;
  border-radius: 4px;
}

.login-remember {
  margin: 8px auto;
}

.login-button {
  background-color: skyblue;
  height: 32px;
  width: 64px;
  border: none;
  border-radius: 4px;
  margin-top: 4px;
}

.footer {
  background-color: whitesmoke;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
  color: gray;
}
